{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}

    <div class="centrer">
        <p>Confirmer suppression de {{ nom }} avec le code postal "{{ code_postal }}" ?</p>

        <form method="post">
            <input type="hidden" name="id" value="{{ id }}" />
            <input type="submit" value="valider">
        </form>

        <form method="post" action="supprimer">
            <button type="submit">Valider</button>
        </form>
    </div>

{% endblock %}