{% extends 'base.html.twig' %}

{% block title %}Suppression d'un établissement{% endblock %}

{% block body %}

    <div class="centrer">
        <h2>{{ message }}</h2>

        <form method="post">
            <table>
                <label for="uai">
                    <tr><td>UAI:</td>
                        <td><input type="text" name="uai" /></td></tr>
                </label>
            </table>
            <button type="submit" class="bouton">Valider</button>
        </form>
    </div>

{% endblock %}