{% extends 'base.html.twig' %}

{% block title %}Selection Etablissement{% endblock %}

{% block body %}

    <form method="post">
        <label for="uai">
            Etablissement:
            <input list="all" type="text" name="uai" />
        </label>
    </form>

    <script>

    </script>

{% endblock %}