{% extends 'base.html.twig' %}

{% block title %}Suppression d'un commentaire{% endblock %}

{% block body %}

    <div class="centrer">
        <h2>{{ message }}</h2>

        <form method="post">
            <table>
                <label for="id">
                    <tr><td>ID:</td>
                    <td><input type="number" name="id" /></td></tr>
                </label>
            </table>
            <button type="submit" class="bouton">Valider</button>
        </form>
    </div>

{% endblock %}