{% extends 'base.html.twig' %}

{% block title %}Hello CommentaireController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <h1>Vous êtes sur : {{ controller_name }}! ✅</h1>
        <ul>
            <li><code><a href="/commentaires/vue"      >Voir les Commentaires</a></code></li>
            <li><code><a href="/commentaires/modifier" >Modifier les Commentaires</a></code></li>
            <li><code><a href="/commentaires/inserer"  >Inserer un Commentaire</a></code></li>
            <li><code><a href="/commentaires/supprimer">Supprimer un Commentaire</a> </code></li>
        </ul>
</div>
{% endblock %}
