{% extends 'base.html.twig' %}

{% block title %}EtablissementController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Vous êtes sur : {{ controller_name }}! ✅</h1>
    <ul>
        <li><code><a class="clickableMenu" href="/etablissements/vue"      >Voir les Établissements</a></code></li>
        <li><code><a class="clickableMenu" href="/etablissements/modifier" >Modifier les Établissements</a></code></li>
        <li><code><a class="clickableMenu" href="/etablissements/inserer"  >Inserer un Établissement</a></code></li>
        <li><code><a class="clickableMenu" href="/etablissements/supprimer">Supprimer un Établissement</a> </code></li>
    </ul>
</div>
{% endblock %}
